:root{
    --primary:   #30aded;
    --blue:      #2b5ba2;
    --darkblue:  #01293d;
    --blue2:      #1384bc;
    --white:     #fff;
    --gray:      #363636;
    --black:     #161616;
    --midblack:  #242424;
    --lightblue: #535862;
}

.btn{
    padding: 0.8em;
    border-radius: 40px;
    border: none;
    color: var(--white);
    cursor: pointer;
    background-color: var(--primary);
    width: 11em;
    font-weight: 600;
    outline:none;
    margin-right: 10px;
}

.btn-scrolled{
    padding: 0.8em;
    border-radius: 40px;
    border: none;
    color: var(--primary);
    cursor: pointer;
    background-color: var(--white);
    width: 11em;
    font-weight: 600;
    outline:none;
    margin-right: 10px;
}

@media screen and (max-width: 960px){
    .btn{display:none;}
    .btn-scrolled{display:none;}
}